@tailwind base;
@tailwind components;
@tailwind utilities;

.row{

}
.sidebar {
    background-color: #12372A;
    color: #ADBC9F;
    display: flex;
    flex-direction: column;

}
.content{
    background-color: #f5f5f5;
}